<header class="header" role="banner">

    <div class="header__inner container">

        <a class="header__brand" href="/" rel="home" aria-label="Go To Homepage">
            <img src="{{ author.logo | url }}" width="45px" height="45px">
        </a>

        <div class="header__nav">
            {% include "navigation.njk" %}
        </div>

    </div>
</header>