---
layout: base
tags: nav
title: Sobre mim
navtitle: Sobre
navorder: 3
permalink: about/index.html
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">Sobre mim!</h1>
    </header>
    <div class="page__content page__content--fullwidth">

        <div class="about">
            <div class="about__header">
                <div class="about__photo">
                    <img
                        class="responsive-image js-responsive-image"
                        src="{{ author.avatar | url }}"
                        alt="Leo Gonçalves"
                    />
                </div>
                <div class="about__intro lead">
                    <p>Me chamo Leonardo Gonçalves da Fonseca, (quase) farmacêutico, situado atualmente em Araucária/PR.</p>
                    <p>
                        Possuo interesse em história, física e motion design, dentre outros assuntos.
                    <p>
                </div>
            </div>
            <div class="about__content markdown">
                <h2>Work</h2>
                <p style="text-align:justify">
                    Trabalho atualmente com os projetos Café conScientia, direcionado à divulgação de ciência, e L.I.G.A., podcast que traz tudo sobre a atualidade dos esportes. 
                    Além disso, faço pesquisa como graduando na Universidade Federal do Paraná.
                    <p>
                <h2>Offline</h2>
                <p>
                    Gosto de ler sobre assuntos diversos, como filosofia, política e ficção. Escuto muitos podcasts (a melhor mídia da atualidade), além de músicas
                    do Pink Floyd. Faço academia, assisto séries e sou Athleticano fanático!
                </p>

                <h2>Online</h2>
                <ul class="about__social">
                    <li>{% icon "twitter" %}<a href="{{ author.social.twitter.url }}">Twitter</a></li>
                    <li>{% icon "github" %}<a href="{{ author.social.github.url }}">Github</a></li>
                    <li>{% icon "instagram" %}<a href="{{ author.social.instagram.url }}">Instagram</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>