---
layout: base
tags: nav
title: Blog
navtitle: Blog
navorder: 2
permalink: blog/index.html
---
<div class="page page--blog">
    <header class="page__header">
        <h1 class="page__title">{{ title }}</h1>
    </header>
    <div class="page__content">
        {%- set postlist = collections.posts -%}
        {% include "postlist.njk" %}
    </div>
</div>

<script data-ad-client="ca-pub-8309649061359520" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>