---
layout: base
tags: nav
navtitle: Home
navorder: 1
permalink: index.html
---

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R64472SQ0D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R64472SQ0D');
</script>

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">Café Conscientia</h1>
        <p class="hero__pretitle">
            <a href="/about/">Olá, meu nome é Leonardo Gonçalves, seja bem-vindo ao</a>
        </p>

        <div class="hero__content">
            <p>
                Desfrute a scientia com uma bella xícara de café. <br class="hero__br"/>
                Visite o <a href="/blog" class="hero__link hero__link--codista">Blog</a>, 
                e o <a href="{{ author.social.twitter.url }}" class="hero__link hero__link--twitter">Twitter</a>.
            </p>
        </div>
    </div>
</div>